/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.profileTopBarActions {
  --internal-filebug-button-background-color: var(--filebug-button-background-color, #b4bfc1);
  --internal-historical-button-background-color: var(--historical-button-background-color, #a6afb2);
  --internal-duration-button-background-color: var(--duration-button-background-color, #8d9396);
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.profileDurationSpecButtonButton {
  background-color: var(--internal-duration-button-background-color);
  color: white;
  cursor: pointer;
}

.profileHistoricalButton {
  background-color: var(--internal-duration-button-background-color);
  background-color: var(--internal-historical-button-background-color);
  color: white;
  cursor: pointer;
  border: 0;
  margin: 0;
  padding: 0 10px;
  height: 100%;
  font-size: 100%;
}

.profileHistoricalButton:hover {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

.fileABugButtonButton {
  background-color: var(--internal-filebug-button-background-color);
  color: white;
}

.profileDurationSpecPanel, .fileABugPanel {
  --offset-from-right: 25px;
  --width: 30em;
}

.fileABugPanel {
  max-width: 30em;
}

.fileABugPanel > .arrowPanelContent > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profileDurationSpecLink {
  white-space: nowrap;
}
